# ANALYSIS_FOLDER is the path to the folder where you wish to save the analysis.
# Replace with the path to your analysis folder
ANALYSIS_FOLDER=''

# API_KEY is used to authenticate with the Microsoft Azure API.
# Replace with your actual API key from Microsoft Azure.
API_KEY=''

# AUDIO_EXTENSION is the extension of the audio file you wish to transcribe.
# Replace with the extension of your audio file (e.g. .wav)
AUDIO_EXTENSION=''

# AZURE_LANGUAGE_ENDPOINT is the endpoint for the Microsoft Azure Cognitive Services API.
# Replace with the endpoint from Microsoft
AZURE_LANGUAGE_ENDPOINT=''

# AZURE_LANGUAGE_KEY is the key for the Microsoft Azure Cognitive Services API.
# Replace with the endpoint from Microsoft
AZURE_LANGUAGE_KEY=''

# INPUT_FOLDER is the path to the folder containing the audio files you wish to transcribe.
# Replace with the path to your input folder
INPUT_FOLDER=''

# OUTPUT_FOLDER is the path to the folder where you wish to save the transcriptions.
# Replace with the path to your output folder
OUTPUT_FOLDER=''

# REGION is the region you wish to use for the Microsoft Azure API.
# Replace with the region you wish to use
REGION=''