# Copyright (C) 2023-2024 Sebastien Rousseau.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
# implied.
# See the License for the specific language governing permissions and
# limitations under the License.


################################################################################
# Application Settings
################################################################################

# ANALYSIS_FOLDER is the path to the folder where you wish to save the analysis.
# Replace with the path to your analysis folder (e.g. ./resources/analysis)
ANALYSIS_FOLDER=''

# INPUT_FOLDER is the path to the folder containing the audio files you wish to
# transcribe. Replace with the path to your input folder (e.g. ./resources/input)
INPUT_FOLDER=''

# OUTPUT_FOLDER is the path to the folder where you wish to save the
# transcriptions. Replace with the path to your output folder
# (e.g. ./resources/output)
OUTPUT_FOLDER=''

# TRANSCRIPTS_FOLDER is the path to the folder where you wish to save the
# transcriptions. Replace with the path to your transcripts folder
# (e.g. ./resources/transcripts)
TRANSCRIPTS_FOLDER=''

# RECOMMENDATIONS_FOLDER is the path to the folder where you wish to save the
# recommendations. Replace with the path to your recommendations folder
# (e.g. ./resources/recommendations)
RECOMMENDATIONS_FOLDER=''

# REPORTS_FOLDER is the path to the folder where you wish to save the reports.
# Replace with the path to your reports folder (e.g. ./resources/reports)
REPORTS_FOLDER=''


################################################################################
# SpeechServices Microsoft Azure Audio Text Service (azure-audio-text)
################################################################################

# AZURE_AUDIO_TEXT_KEY is used to authenticate with the Azure Audio Text Service
# Replace with your actual API key from https://portal.azure.com/
AZURE_AUDIO_TEXT_KEY=''

# AUDIO_EXTENSION is the extension of the audio file you wish to transcribe.
# Replace with the extension of your audio file (e.g. .wav)
AUDIO_EXTENSION=''

# TRANSCRIPTS_DB_TABLE_NAME is the name of the SQLite table where you wish to
# store the results of the transcriptions. Replace with the name of your SQLite
table (e.g. transcriptions)
TRANSCRIPTS_DB_TABLE_NAME=''


################################################################################
# Microsoft Azure Cognitive Services API (azure-language-svc)
################################################################################

# AZURE_LANGUAGE_ENDPOINT is the endpoint for the Microsoft Azure Cognitive
# Services API. Replace with the endpoint from https://portal.azure.com/
AZURE_LANGUAGE_ENDPOINT=''

# AZURE_LANGUAGE_KEY is the key for the Microsoft Azure Cognitive Services API.
# Replace with your actual API key from https://portal.azure.com/
AZURE_LANGUAGE_KEY='d6c16b9e6d6348fe91eef59e9591e3b7'

# ANALYSIS_DB_TABLE_NAME is the name of the SQLite table where you wish to store
# the analysis results. Replace with the name of your SQLite table
(e.g. text_analysis)
ANALYSIS_DB_TABLE_NAME=''


################################################################################
# Microsoft Azure Open AI Service
################################################################################

# GPT3_API_KEY is the key for the Microsoft Azure Open AI Service. Replace with
# your actual API key from https://platform.openai.com/api-keys
GPT3_API_KEY=''


################################################################################
# Common environment variables for Microsoft Azure
################################################################################

# REGION is the region you wish to use for the Microsoft Azure API.
# Replace with the region you wish to use (e.g. uksouth)
REGION=''
