# API_KEY is used to authenticate with the Microsoft Azure API.
# Replace with your actual API key from Microsoft Azure.
API_KEY=''

# AUDIO_EXTENSION is the extension of the audio file you wish to transcribe.
# Replace with the extension of your audio file
AUDIO_EXTENSION=''

# INPUT_FOLDER is the path to the folder containing the audio files you wish to transcribe.
# Replace with the path to your input folder
INPUT_FOLDER=''

# OUTPUT_FOLDER is the path to the folder where you wish to save the transcriptions.
# Replace with the path to your output folder
OUTPUT_FOLDER=''

# REGION is the region you wish to use for the Microsoft Azure API.
# Replace with the region you wish to use
REGION=''